# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vscode

codigo/blockchain


codigo/chain*.txt

cmake-build-debug
*.fls
*latexmk
.idea
*.log
informe/informe.pdf
*.synctex.gz
*.aux
*.bbl
*.blg
*.xml
*.toc
.*.swp
*.dvi
*.out
build/
build-release

*Session.vim
*tags

codigo/build/*
codigo/cmake-build-debug/*
*compile_commands.json

.gdb_history

experimentacion/exp*/graficos

tests/google-test/CMakeFiles/*
tests/google-test/gtest.cbp
tests/google-test/libgtest.a
tests/google-test/Makefile
tests/google-test/cmake_install.cmake
.ipynb_checkpoints
experimentacion/*.csv
experimentacion/tp3
experimentacion/exp2/results/*
octave-workspace
